
<!doctype html>
<html>
<head>
    <title>EJS from status.JS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
<h1>Hello Again</h1>
// <table class = "table">
//     <tr>
//         <td valign="top" align="center">
//         <ul>
//             // <% for(var i=0; i<players.length; i++) { %>
//             //     <li>
//             //         <a href= 'details/<%= players[i].id%>'>
//             //         <%= players[i].displayName()%>
//             //         </a>
//             //     </li>
//             // <% } %>
//         </ul>
//     </tr>
// </table>


<img src="../images/27032.jpg" alt="img missing" />

<img src='http://ciyaaro.com/portal/wp-content/uploads/2012/04/Messi-Neymar.jpg' alt="tom" class="img-rounded"/>


</body>
</html>